#container {
    height: fit-content;
    width: 80%;
    background-color: black;
    text-align: center;
    margin: 90px;
    border-radius: 25px;
    padding: 20px;
    color: #efc834;

}

body{
    color: #efc834;
    background: url("../images/hardwood.jpg");
}

.btn {
    background-color: orange;
    color: orange;

}
